@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-1px);
    }
    75% {
      transform: translateX(1px);
    }
  }
  --animate-shake: shake 0.2s ease-in-out;
}

@layer base {
  :root {
    --background: oklch(22% 0.01 286);
    --foreground: oklch(97% 0.01 260);

    --card: oklch(30% 0.014 285);
    --card-foreground: oklch(90% 0.01 260);

    --popover: oklch(27% 0.014 285);
    --popover-foreground: oklch(97% 0.01 260);

    --primary: oklch(60% 0.22 262);
    --primary-foreground: oklch(100% 0 0);
    --primary-hover: oklch(50% 0.22 262);

    --secondary: oklch(64% 0.2 262);
    --secondary-foreground: oklch(100% 0 0);
    --secondary-hover: oklch(54% 0.2 262);

    --muted: oklch(24% 0.01 280);
    --muted-foreground: oklch(72% 0.02 272);

    --accent: oklch(68% 0.22 37);
    --accent-foreground: oklch(100% 0 0);

    --destructive: oklch(59% 0.2 21);
    --destructive-foreground: oklch(100% 0 0);

    --success: oklch(64% 0.175 146);
    --success-foreground: oklch(100% 0 0);

    --warning: oklch(84% 0.17 92);
    --warning-foreground: oklch(20% 0.05 85);

    --info: oklch(70% 0.15 240);
    --info-foreground: oklch(100% 0 0);

    --border: oklch(35% 0.01 260);
    --input: oklch(35% 0.01 260);
    --ring: oklch(60% 0.2 262);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}
