@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-1px);
    }
    75% {
      transform: translateX(1px);
    }
  }
  --animate-shake: shake 0.2s ease-in-out;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}
